<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1> Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">New Data</a></p>
        </div>

        <div class="row" id="mars-news">
            
            <div class="col-md-3">
                <h3 class="heading"> Latest Mars News</h3>
                <h4 class="title">{{detail.mars['title']}}</h4>
                <p>{{detail.mars['paragraph']}}</p>
            </div>
        </div>
        <div class="row">
            {% for detail in mars %}
            <div class="col-md-3">
                <img src="{{detail.mars['image']}}" alt="Featured Mars Image">
                <h4 class="heading"> Mars Facts</h4>
                <div class="table">{{detail.mars['facts']}} </div>
            </div>        
            {% endfor %}
        </div>
        <div class="row>"            
            <div class="col-md-3">
                <h3 class="heading text-center" >Mars Hemispheres</h3>
                <img src="{{detail.mars['hemispheres']}}" alt="Hemispheres">
            </div>
            
        </div>


    </div>
    
</body>
</html>